# GitGrant Contracts

PRIVATE_KEY=
ARBITER_ADDRESS=
FEE_BPS=300

# Base Sepolia
BASE_SEPOLIA_RPC=https://sepolia.base.org

# Base Mainnet
BASE_RPC=https://mainnet.base.org

# Etherscan (Basescan) API key for verification
BASESCAN_API_KEY=
